[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/TUK-CE-capstone-2023-session4-3/frontend-repo.git
[submodule "flask"]
	path = flask
	url = https://github.com/TUK-CE-capstone-2023-session4-3/flask.git